prefetcher/l1i_prefetcher.cc
prefetcher/l1d_prefetcher.cc
prefetcher/l2c_prefetcher.cc
prefetcher/llc_prefetcher.cc
branch/branch_predictor.cc
replacement/llc_replacement.cc

inc/champsim.h.bak

bin/
obj/
results*
example/example1
example/example2
example/example3
tracer/obj-intel64/
tracer/*.trace
pin.log